*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#eef5ff;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:#0f172a;

}

.logo{

color:white;
font-size:28px;
font-weight:bold;

}

nav ul{

display:flex;
list-style:none;

}

nav ul li{

margin-left:30px;

}

nav ul li a{

color:white;
text-decoration:none;
transition:.3s;

}

nav ul li a:hover{

color:#38bdf8;

}

.hero{

display:flex;
justify-content:space-around;
align-items:center;

padding:80px 8%;

}

.left{

width:45%;

}

.left h1{

font-size:55px;

color:#0f172a;

}

.left p{

margin:20px 0;

font-size:18px;

line-height:30px;

}

.btn{

display:inline-block;

padding:14px 35px;

background:#2563eb;

color:white;

border-radius:10px;

text-decoration:none;

font-size:18px;

transition:.3s;

}

.btn:hover{

background:#1d4ed8;

transform:translateY(-3px);

}

.right{

display:grid;

grid-template-columns:repeat(2,220px);

gap:20px;

}

.card{

background:white;

padding:30px;

border-radius:15px;

text-align:center;

box-shadow:0 10px 20px rgba(0,0,0,.1);

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

.card i{

font-size:45px;

color:#2563eb;

margin-bottom:15px;

}

footer{

text-align:center;

padding:20px;

background:#0f172a;

color:white;

margin-top:60px;

}

@media(max-width:900px){

.hero{

flex-direction:column;

}

.left{

width:100%;

text-align:center;

}

.right{

margin-top:40px;

grid-template-columns:1fr;

}

nav{

flex-direction:column;

}

nav ul{

margin-top:20px;

}

}